workflows/Kontotupa Facebook posts.json
{
  "name": "Kontotupa Facebook posts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "872ff463-fdb3-4cbd-868a-0661ec4b0317",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "graphApiVersion": "v23.0",
        "node": "101095698819218",
        "edge": "feed",
        "options": {
          "queryParameters": {
            "parameter": [
              {
                "name": "limit",
                "value": "5"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.facebookGraphApi",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "de6c7699-7885-440d-b5c6-e26edba8f0c2",
      "name": "Facebook Graph API",
      "credentials": {
        "facebookGraphApi": {
          "id": "2FLMfWpAhFxRYxTK",
          "name": "Facebook Graph account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        0
      ],
      "id": "2fa57ad5-d7e9-4e3f-9252-95a1f07db7d8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Puhdista data ja valmistele Qdrantille\nconst items = [];\n\nfor (const item of $input.all()) {\n  const post = item.json;   // tai item.json.data[0] jos rakenne on edelleen syvä\n\n  // Varmista että id löytyy\n  if (!post.id) continue;\n\n  items.push({\n    json: {\n      // Uniikki ID Qdrantille (tämä estää duplikaatit)\n      id: post.id,                    // ← TÄMÄ on tärkein!\n      \n      // Sisältö embeddingille\n      message: post.message || \"\",\n      created_time: post.created_time,\n      permalink_url: post.permalink_url,\n      \n      // Metadata (voit hakea myöhemmin suodattimilla)\n      facebook_id: post.id,\n      post_type: \"facebook_page_post\",\n      source: \"Kontiotupa\"\n    }\n  });\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "51d245b5-1ac1-4be4-b3ef-2ba80694ce7f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "kontiotupa-fb",
          "mode": "list",
          "cachedResultName": "kontiotupa-fb"
        },
        "embeddingBatchSize": 20,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        864,
        0
      ],
      "id": "44f9d457-4af5-4f92-84a8-457b88e1d461",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "7Jf2mkRV0puwbX0h",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        768,
        208
      ],
      "id": "1a28aaeb-58b3-441c-b2a5-c5859cfda15a",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "HMGkQSPmrQMbGaum",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "Artikkeli",
                "value": "={{ $json.message }}"
              },
              {
                "name": "Luomisaika",
                "value": "={{ $json.created_time }}"
              },
              {
                "name": "id",
                "value": "={{ $json.facebook_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1008,
        208
      ],
      "id": "6577c93a-726d-4413-8d64-f8129c94f294",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "url": "http://172.17.0.1:11434",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        352
      ],
      "id": "a5d4a606-b03e-4685-a271-4581adba723c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "http://204.168.136.252:8001/stm-ajankohtaista.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        304,
        432
      ],
      "id": "d8358470-a4dc-456e-aa24-0388234ffc3c",
      "name": "Ajankohtaiset Kela Json"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e734affe-aada-4712-82cb-d2f268bbc010",
              "leftValue": "={{ $json.date }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        512,
        432
      ],
      "id": "7025a8c6-d3b6-432e-a1db-e836b849cbce",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Facebook Graph API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Facebook Graph API": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Ajankohtaiset Kela Json": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "01592dd5-74f9-4d25-8530-06ef4af64b56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8837899abd9f86e2b65faef279502f26a61fb5a42b75296b8b4689051c6b02ef"
  },
  "id": "N4rXADlkkrFFw2jb",
  "tags": []
}